Binaries
DerivedDataCache
Intermediate
Saved
.idea/
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# 插件
Plugins/**/Binaries/*
Plugins/**/Intermediate/*

# 构建
Build/
Windows/